body{
  background-color: #002966;
}

.ui.top-menu{
  background-color: black;
  border: none;
  box-shadow: none;
}

.ui.middle-menu {
  background-color: #003e80;
  border: none;
  box-shadow: none;
  height: 64px;
}

.ui.fluid.image.banner{
  margin-bottom: 20px;
  width: 1249px;
  height: 593px;

}

.sub-footer-background{
  background-color: black;
  color: #004ba6;
  height: 60px;
}

p.txtblue{
  color: #004ba6;
}

h1, p.txtwhite{
  color: white;
  margin-right: 10px;
}

p.txtyellow{
  color: #fdd215;
}

.ui.input{
  margin-top: 30px;
  height: 30px;
  background-color: #01366e;
  color: #01366e;
  width: 150px;
}

img{
  margin-right: 10px;
}

h3{
  color: #04bbe4;
}

.ui.column.one{
  margin-right: -200px;
}

.ui.column.two{
  margin-right: 200px;
}

.ui.column.three{
  margin-left: -200px;
}

